/bitrix/backup
/bitrix/cache
/bitrix/crontab
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/modules/*.log
/bitrix/php_interface/crontab
/bitrix/php_interface/dbconn.php
/bitrix/stack_cache
/logs
/upload
/.htaccess
/urlrewrite.php
/*.log
/*.sql
/*.txt
/*.dt
/bitrix/admin
/bitrix/activities
/bitrix/blocks
/bitrix/gadgets
/bitrix/legal
/bitrix/panel
/bitrix/updates
